wp-content/updraft/
cc/
wp-content/uploads/
wp-content/cache/
wp-content/litespeed/
wp-content/ewww/
wp-content/ewww-old/
wp-content/smush-webp/
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/upgrade-temp-backup-old/
wp-content/ai1wm-backups/
wp-content/wflogs/
wp-content/*-old/
wp-config.php
.env
.env.*
*.sql
*.sql.gz
*.dump
*.log
*.bak
*.tmp
*.temp
wp-content/uploads/2026/07/download.gif
wp-content/uploads/2026/07/download-1.gif